  <fieldset>
  <div id="lessee-entry">
      <div id="l1">
        <%= f.text_field :first_name, placeholder: 'First Name' %>
      </div>
      <div id="l2">
        <%= f.text_field :last_name, placeholder: 'Last Name' %>
      </div>
      <div id="l3">
        <%= f.text_field :company, placeholder: 'Company' %>
      </div>
      <div id="l4">
        <%= f.text_field :bus_phone, placeholder: 'Business Phone' %>
      </div>
      <div id="l5">
        <%= f.text_field :phone, placeholder: 'Home Phone' %>
      </div>
      <div id="l6">
        <%= f.text_field :email, placeholder: 'Email' %>
      </div>
      <div id="l7">
        <%= f.text_field :address, placeholder: 'Address' %>
      </div>
      <div id="l8">
        <%= f.text_field :city, placeholder: 'City' %>
      </div>
      <div id="l9">
        <%= f.text_field :state, placeholder: 'State' %>
      </div>
      <div id="l10">
        <%= f.text_field :zip, placeholder: 'Zip' %>
      </div>
      <div class="remove">
        <%= link_to_remove_association "Remove Lessee", f %>
      </div>
</fieldset>




