<div class="tab-content">
  <div id="lessee-entry">
    <%= f.simple_fields_for :lessees do |l| %>
      <div id="l1">
        <%= l.label :first_name %>
        <%= l.text_field :first_name, input_html: {style:'width=80px'} %>
      </div>
      <div id="l2"
        <%= l.label :last_name %>
        <%= l.text_field :last_name %>
      </div>
      <div id="l3">
        <%= l.label :company %>
        <%= l.text_field :company %>
      </div>
      <div id="l4">
        <%= l.label :bus_phone %>
        <%= l.text_field :bus_phone %>
      </div>
      <div id="l5">
        <%= l.label :phone %>
        <%= l.text_field :phone %>
      </div>
      <div id="l6"
        <%= l.label :email %>
        <%= l.text_field :email %>
      </div>
      <div id="l7">
        <%= l.label :address %>
        <%= l.text_field :address %>
      </div>
      <div id="l8">
        <%= l.label :city %>
        <%= l.text_field :city %>
      </div>
      <div id="l9"
        <%= l.label :state %>
        <%= l.text_field :state %>
      </div>
      <div id="l10"
        <%= l.label :zip %>
        <%= l.text_field :zip %>
      </div>
    <% end %>
  </div>
</div>




