<div class="tab-content flex-box flex-box-full">
   <div>
     <div id="servicer">
       <%= f.label :servicer %>
       <%= f.select :servicer, collection: ['Lawgix','Internal'] %>
     </div>
     <div id="state-select">
       <%= f.label :state %>
       <%= f.select :state, collection: ['Ohio','West Virginia'] %>
     </div>
     <div id="lease_numb">
       <%= f.label :lease_number %>
       <%= f.text_field :lease_number %>
     </div>
    <div>
      <%= f.text_area :description, placeholder: "Comments" %>
    </div>
    <div id="flow-check">
      <div class="check">
         <%= f.check_box(:serial_flows, {:multiple => true}, 'Opinion', nil) %>
         <%= f.label 'Abstract' %>
      </div>
      <div class="check">
         <%= f.check_box(:serial_flows, {:multiple => true}, 'Abstract', nil) %>
         <%= f.label 'Opinion' %>
      </div>
      <div class="check">
         <%= f.check_box(:serial_flows, {:multiple => true}, 'Curative', nil) %>
         <%= f.label 'Curative' %>
      </div>
    </div>
    <div id="deliv-date">
      <%= f.label 'Delivery Date' %>
      <%= f.date_field :requested_delivery %>
    </div>
</div>
