<div class="tab-content flex-box flex-box-full">
   <div>
     <div id="state-select">
       <%= f.label :state %>
       <%= f.select :state, collection: ['Pennsylvania', 'Ohio','West Virginia'] %>
     </div>
     <div id="lease_numb">
       <%= f.association :project %>
       <%= f.association :lease, label_method: :lease_number %>
     </div>
    <div>
      <%= f.text_area :description, placeholder: "Comments" %>
    </div>

     <%= f.label :request %>
     <%= f.select :request, collection: ['Abstract','Opinion','Lease','Curative'] %>
     <%= f.label :servicer %>
     <%= f.select :servicer, collection: ['Internal','Lawgix'] %>
    <div id="deliv-date">
      <%= f.label 'Delivery Date' %>
      <%= f.date_field :requested_delivery %>
    </div>
</div>
