  <div class="flex-boxes">
    <a href="javascript:void(0)" class="flex-box flex-box-full">
      <h2 class="flex-title">Lawgix OGX Services</h2>

  <table>
    <thead>
    <tr>
      <td>Description</td>
      <td>Delivery Date</td>
      <td>State</td>
      <td>Workflow</td>
    </tr>
    </thead>
    <tbody>
    <%= will_paginate @services %>
    <% @services.each do |service| %>
        <tr>
          <td><%= link_to service.description, service %></td>
          <td><%= service.requested_delivery %></td>
          <td><%= service.state %></td>
          <td><%= service.request %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  </a>
</div>
