  <div class="flex-boxes">
    <a href="javascript:void(0)" class="flex-box flex-box-full">
      <h2 class="flex-title">Lawgix OGX Services</h2>

  <table>
    <thead>
    <tr>
      <td>Lease Number</td>
      <td>Description</td>
      <td>Lessee</td>
      <td>Status</td>
      <td>Delivery Date</td>
      <td>State</td>
      <td>County</td>
      <td>Workflows</td>
    </tr>
    </thead>
    <tbody>
    <%= will_paginate @services %>
    <% @services.each do |service| %>
        <tr>
          <td><%= link_to service.lease_number, service %></td>
          <td><%= service.description %></td>
          <td><%= service.lessees.count %></td>
          <td><%= if service.current_state; service.current_state; end %></td>
          <td><%= service.requested_delivery %></td>
          <td><%= service.state %></td>
          <td><%= service.county %></td>
          <td><%= service.serial_flows.join " " %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  </a>
</div>
