<h1>New Service</h1>


<div id="service_form">
<fieldset>

<%= form_for @service do
           | f| %>
    <%= f.label :lease_number %>
    <%= f.text_field :lease_number  %>
    <%= f.label :lessee_last_name %>
    <%= f.text_field :lessee_last_name %>
    <%= f.check_box(:flows, {:multiple => true },'Opinion',nil) %>
    <%= f.label 'Abstract' %>
    <%= f.check_box(:flows, {:multiple => true },'Abstract',nil) %>
    <%= f.label 'Opinion' %>
    <%= f.check_box(:flows, {:multiple => true },'Curative',nil) %>
    <%= f.label 'Curative' %>
    <%= f.submit %>
<% end %>
</fieldset>
</div>
