
<div id="new_service_form">
<h1>New Service Request</h1>
<fieldset>

<%= form_for @service do |f| %>
    <%= f.label :lease_number %>
    <%= f.text_field :lease_number  %>
    <%= f.label :state %>
    <%= f.text_field :state  %>
    <%= f.label :county %>
    <%= f.text_field :county %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label 'Delivery Date'  %>
    <%= f.date_field :requested_delivery  %>
    <div id='request'>
      <%= f.submit 'Create Service Request' %>
    </div>
<% end %>
</fieldset>
</div>
