<h1>New Service</h1>

<fieldset>

<%= form_for @service do
           | f| %>
    <%= f.label 'Lease Number' %>
    <%= f.text_field :lease_number  %>
    <%= f.label :lessee_first_name %>
    <%= f.text_field :lessee_first_name %>
    <%= f.label :lessee_last_name %>
    <%= f.text_field :lessee_last_name %>
    <%= f.label :flows %>
    <%= text_area_tag :"service[flows]" %>
    <%= f.submit %>
<% end %>
</fieldset>