<div id="new_service_form">
  <h1>New Service Request</h1>
  <fieldset>
  <%= simple_form_for @service do |f| %>
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">Request</a>
        <%= render 'request', f: f %>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Lessee</a>
        <%= render 'lessee', f: f %>
      </li>
      <li class="tab-header-and-content">
         <a href="#" class="tab-link">Parcel</a>
         <%= render 'parcel', f: f %>
      </li>
      <li class="tab-header-and-content">
         <a href="#" class="tab-link">Implementation</a>
        <%= render 'implement', f: f %>
      </li>
      <li class="tab-header-and-content">
      </li>
    </ul>
    <%= f.submit 'Create Service Request' %>
  <% end %>
</div>
