<h1>New Service</h1>

<div id="new_service_form">
<fieldset>

<%= form_for @service do |f| %>
    <%= f.label :lease_number %>
    <%= f.text_field :lease_number  %>
    <%= f.fields_for :lessee do |ff| %>
      <div>
        <%= ff.label :last_name %>
        <%= ff.text_field :last_name %>
      </div>
    <% end %>
    <%= f.label :state %>
    <%= f.text_field :state  %>
    <%= f.label :county %>
    <%= f.text_field :county %>
    <%= f.check_box(:flows, {:multiple => true },'Opinion',nil) %>
    <%= f.label 'Abstract' %>
    <%= f.check_box(:flows, {:multiple => true },'Abstract',nil) %>
    <%= f.label 'Opinion' %>
    <%= f.check_box(:flows, {:multiple => true },'Curative',nil) %>
    <%= f.label 'Curative' %>
    <%= f.submit %>
<% end %>
</fieldset>
</div>
