<div id="new_service_form">
  <h1>New Service Request</h1>
  <fieldset>
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">Request</a>
        <div class="tab-content">
          <%= simple_form_for @service do |f| %>
              <%= f.label :state %>
              <%= f.select :state, collection: ['Ohio','West Virginia'] %>
              <%= f.label :lease_number %>
              <%= f.text_field :lease_number %>
              <%= f.label :description %>
              <%= f.text_area :description %>
              </div>
              </li>
              <li class="tab-header-and-content">
                <a href="#" class="tab-link">Lessee</a>
                <%= render 'lessee', f: f %>
              </li>
            <li class="tab-header-and-content">
                <a href="#" class="tab-link">Parcel</a>
                <div class="tab-content">
                <%= f.label :county %>
                <%= f.text_field :county %>
                <%= f.simple_fields_for :parcels do |pc| %>
                  <%= pc.label :tax_map %>
                  <%= pc.text_field :tax_map %>
                  <%= pc.label :tax_parcel %>
                  <%= pc.text_field :tax_parcel %>
                <% end %>

                </div>
              </li>
              <li class="tab-header-and-content">
                <a href="#" class="tab-link">Implementation</a>
                <div class="tab-content">
                  <%= f.check_box(:flows, {:multiple => true}, 'Opinion', nil) %>
                  <%= f.label 'Abstract' %>
                  <%= f.check_box(:flows, {:multiple => true}, 'Abstract', nil) %>
                  <%= f.label 'Opinion' %>
                  <%= f.check_box(:flows, {:multiple => true}, 'Curative', nil) %>
                  <%= f.label 'Curative' %>
                  <%= f.label 'Delivery Date' %>
                  <%= f.date_field :requested_delivery %>
                  <div id='request'>
                    <%= f.submit 'Create Service Request' %>
                  </div>  
                </div>
              </li>
              <li class="tab-header-and-content">
                 <%= f.submit 'Create Service Request' %>
              </li>
              </ul>
          <% end %>
</div>
