<div id="new_service_form">
  <fieldset>
    <h1>Service Request</h1>
    <%= simple_form_for @service do |f| %>
        <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content">
            <a href="#" class="tab-link is-active">Request</a>
            <%= render 'request', f: f %>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Lessee</a>
            <%= render 'lessee_fields', f: f %>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Parcel</a>
            <%= render 'county', f: f %>
          </li>
        </ul>
        <%= f.submit 'Create Service Request' %>
    <% end %>
</div>
