<div class="flex-boxes">
  <div class="flex-box flex-box-full">
    <h2 class="flex-title">Service Request</h2>
      <%= simple_form_for @service do |f| %>
          <ul class="accordion-tabs-minimal">
            <li class="tab-header-and-content">
              <a href="#" class="tab-link is-active">Request</a>
              <%= render 'request', f: f %>
            </li>
            <li class="tab-header-and-content">
              <a href="#" class="tab-link">Lessor</a>

              <div class="tab-content">
                <div class="nested-fields">
                  <%= f.simple_fields_for :lessees do |lessee| %>
                      <%= render 'lessee_fields', f: lessee %>
                      <%= link_to_add_association "Add Lessor", f, :lessees %>
                  <% end %>
                </div>
              </div>
            </li>
            <li class="tab-header-and-content">
              <a href="#" class="tab-link">Parcel</a>

              <div class="tab-content">
                <div class="nested-fields">
                  <%= f.simple_fields_for :parcels do |parcel| %>
                      <%= render 'parcel_fields', f: parcel %>
                      <%= link_to_add_association "Add Parcel", f, :parcels %>
                      </div>
                  <% end %>
                </div>
            </li>
          </ul>
      <%= f.submit 'Create Service Request' %>
    <% end %>
  </div>
</div>
