<div id="new_lawyer_form">
  <h1>New Lawyer </h1>
  <fieldset>
    <%= simple_form_for @lawyer  do |f| %>
        <%= f.association :lawfirm %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.text_field :password %>
        <%= f.submit 'Create Lawyer' %>
        </div>
        </li>
    <% end %>
    </fieldset>
    </div>

