<div class="flex-box flex-box-full">
  <fieldset>
      <div class="l1">
        <%= f.text_field :first_name, placeholder: 'First Name' %>
      </div>
      <div class="l1">
        <%= f.text_field :last_name, placeholder: 'Last Name' %>
      </div>
      <div class="span11margin20">
        <%= f.text_field :company, placeholder: 'Company' %>
      </div>
      <div id="l4">
        <%= f.text_field :bus_phone, placeholder: 'Business Phone' %>
      </div>
      <div class="span3">
        <%= f.text_field :phone, placeholder: 'Home Phone' %>
      </div>
      <div id="l6">
        <%= f.text_field :email, placeholder: 'Email' %>
      </div>
      <div class="span11margin20">
        <%= f.text_field :address, placeholder: 'Address' %>
      </div>
      <div id="l8">
        <%= f.text_field :city, placeholder: 'City' %>
      </div>
      <div class="span3">
        <%= f.text_field :state, placeholder: 'State' %>
      </div>
      <div class="span3">
        <%= f.text_field :zip, placeholder: 'Zip' %>
      </div>
      <div class="remove">
        <%#= link_to_remove_association "Remove Owner", f %>
      </div>
  </fieldset>
</div>



