
<div class="nested-fields flex-box flex-box-full">
  <fieldset>

    <%= simple_form_for @parcel do |f| %>
    <% if @project %>
        <%= f.association :project, selected: @project.id  %>
    <% else %>
        <%= f.association :project %>
    <% end %>
    <div id="pc1" class="field">
      <%= f.text_field :tax_map, placeholder: "Tax Map" %>
    </div>
    <div id="pc2" class="field">
      <%= f.text_field :tax_parcel, placeholder: "Parcel #" %>
    </div>
    <div id="pc3">
      <%= f.text_field :county, placeholder: "County" %>
    </div>
      <%= f.text_field :surface_owner, placeholder: "Surface Owner" %>
      <%=  f.input :acres %>
      <%=  f.input :og_fee_acres %>
      <%=  f.input :og_leased_acres %>
    <div class="remove">
      <%= f.submit 'Create Parcel' %>
      <% end %>
    </div>
    <div class="abstract">
    </div>
  </fieldset>
</div>
