<div class="flex-boxes">
  <div class="flex-box flex-box-full">
      <h2 class="flex-title">New Parcel
          <% if @project %>
         -  Project:
          <%= @project.name %>
          <% end %>
       </h2>
    <%= simple_form_for @parcel do |f| %>
        <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content">
            <a href="#" class="tab-link is-active">Parcel</a>
            <%= render 'base', f: f %>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Ownership</a>
             <div class="tab-content">
               <div class="nested_fields">
                <%= f.simple_fields_for :owners do |owner| %>
                    <%= render 'owner_fields', f: owner %>
                    <%= link_to_add_association "Add Owner", f, :owners %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
        <%= f.submit 'Create Parcel' %>
    <% end %>
  </div>
</div>



















