<div class="flex-boxes">
  <div class="flex-box flex-box-full">
     <h2 class="flex-title">Parcel</h2>
  <h6>
    <% if @parcel.project %>
        Project:
        <%= link_to @parcel.project.name, @parcel.project %>
      <% end %>
   </h6>
    <div class="intro">
    <% if @parcel.lease %>
        <h6>
        Lease:
            <%= link_to @parcel.lease.lease_number, @parcel.lease %>
        </h6>
        <% end  %>
     </div>
    <%= simple_form_for @parcel do |f| %>
        <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content">
            <a href="#" class="tab-link is-active">Parcel</a>
            <%= render 'base', f: f %>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Ownership</a>
             <div class="tab-content">
               <div class="nested_fields">
                <%= f.simple_fields_for :owners do |owner| %>
                    <%= render 'owner_fields', f: owner %>
                    <%= link_to_add_association "Add Owner", f, :owners %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
        <%= f.submit 'Update Parcel' %>
    <% end %>
  </div>
</div>



















