
<div id="new_contact_form" class="flex-boxes">
  <div id="lhead">
      <h2 class='flex-title'>Property Owner</h2>
  </div>
  <div class="flex-box flex-box-full">
    <%= simple_form_for @owner do |f| %>
  <h5>
    <% if @owner.project %>
        Project:
        <%= link_to @owner.project.name, @owner.project %>
      <% end %>
   </h5>
        <% if @owner.parcel %>
  <h6>
        Tax Parcel:
      <%= link_to @owner.parcel.tax_parcel, @owner.parcel  %>
   </h6>
    <% end %>
    <% if @owner.lease %>
        <h6>
        Lease:
            <%= link_to @owner.lease.lease_number, @owner.lease %>
        </h6>
        <% end  %>
 
     <div id="pi">
        Property Interest:
        <%= f.select:interest, collection: ["Surface", "Gas"]  %>
      </div>

    </h5>
        <fieldset>
          <% if @project %>
              <%= f.association :project, input_html: {hidden: true}, label_html: {hidden: true} %>
          <% end %>
    <div class="l1">
      <%= f.text_field :first_name, placeholder: 'First Name' %>
    </div>
    <div class="l1">
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
    </div>
    <div class="l1">
      <%= f.text_field :company, placeholder: 'Company' %>
    </div>
    <div id="l4">
      <%= f.text_field :bus_phone, placeholder: 'Business Phone' %>
    </div>
    <div class="span3">
      <%= f.text_field :phone, placeholder: 'Home Phone' %>
    </div>
    <div id="l6">
      <%= f.text_field :email, placeholder: 'Email' %>
    </div>
    <div class="span11margin20">
      <%= f.text_field :address, placeholder: 'Address' %>
    </div>
    <div id="l8">
      <%= f.text_field :city, placeholder: 'City' %>
    </div>
    <div class="span3">
      <%= f.text_field :state, placeholder: 'State' %>
    </div>
    <div class="span3">
      <%= f.text_field :zip, placeholder: 'Zip' %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
    <% end %>
    </fieldset>
  </div>
</div>
