<div class="flex-box flex-box-full">
  <h2 class="flex-title">Deed</h2>
  <fieldset>
    <%= f.error_notification %>
    <div class="span3">
      <%= f.text_field :db, placeholder: 'Book' %>
    </div>
    <div class="span3">
      <%= f.text_field :db_page, placeholder: 'Page' %>
    </div>
    <div class="span3">
      <%= f.date_field :d_date %>
    </div>
    <div class="span3">
    <%= f.label "Conveyance Type" %>
    <%= f.select :d_type,  collection: ['Deed (with dower)',
                                        'Warranty Deed (with dower)',
                                        'Indenture (with dower)',
                                        'Quit Claim Deed',
                                        'Inter Parties Deed (with dower)',
                                        'Agreement (with dower)',
                                        'Patent (Land Grant)',
                                        'Probate',
                                        'Estate Admin',
                                        'Will',
                                        'Common Pleas Case',
                                        'Partition Order',
                                        'Certificate of Transfer',
                                        'Sheriffs Deed',
                                        'Hydrocarbon Deed',
                                        'Power of Attorney',
                                        'Mechanics Lien',
                                        'Affidavit of Abandonment']  %>
    <%= f.label "Exceptions" %>
    <%= f.select :exceptions, collection: ['Vein/Seam of Coal',
                                           'Oil and Gas',
                                           'Minerals',
                                           'Limestone',
                                           'Coalbed Methane'] %>
    </div>
    <%= f.text_field :grantor, placeholder: 'grantor' %>
    <%= f.select :gtor_status, collection: ['Unmarried',
                                                 'Widowed',
                                                 'Separated',
                                                 'Married - Tenants in Common',
                                                 'Married - Entireties',
                                                 'Married - Joint Tenants',
                                                 'Married - Joint Tenants WROS'] %>
    <%= f.text_field :grantee, placeholder: 'grantee' %>
    <%= f.select :gtee_status, collection: ['Unmarried',
                                                'Widowed',
                                                'Separated',
                                                'Married - Tenants in Common',
                                                'Married - Entireties',
                                                'Married - Joint Tenants',
                                                'Married - Joint Tenants WROS'] %>
    <%= f.text_field :acreage, placeholder: 'Acreage of Parcel' %>
    <%= f.text_area :description, placeholder: 'Property Description' %>
    <%= f.text_area :comments, placeholder: 'Comments' %>
    <%= f.simple_fields_for :document do |document| %>
        <%= document.file_field %>
    <% end %>
  </fieldset>
</div>