<p id="notice"><%= notice %></p>
<div class="flex-boxes">
  <div class="flex-box flex-box-full">
    <h2 class="flex-title">Title Abstract
      <% if @project %>
          - Project:
          <%= @project.name %>
      <% end %>
    </h2>
    <%= simple_form_for @title_abstract do |f| %>

        <% if @title_abstract.parcel %>
            <h4>Tax Map/Parcel:
              <%= @title_abstract.parcel.tax_parcel %>
            </h4>
            <% else %>
             <%  @parcels = @project.parcels %>
            <%= f.association :parcel, label_method: :tax_parcel, collection: @project.parcels %>
        <% end %>
        <% if @project %>
            <%= f.association :project, input_html: {hidden: true}, label_html: {hidden: true} %>
        <% end %>

        <div class="form-inputs">
          <%= f.text_field :description, placeholder: 'Description' %>
          <%= f.input :comments %>
        </div>
        <div>
          <%= f.simple_fields_for :deeds do |deed| %>
              <%= render 'deed_fields', f: deed %>
              <%= link_to_add_association "Add Deed", f, :deeds %>
          <% end %>
          <%= f.simple_fields_for :documents do |document| %>
              <%= render 'document_fields', f: document %>
              <%= link_to_add_association "Add Document", f, :documents %>
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
    <% end %>
  </div>
</div>
