<p id="notice"><%= notice %></p>
 <div class="flex-boxes">
   <div class="flex-box flex-box-full">
    <h2 class="flex-title">Title Abstract</h2>
<%= simple_form_for @title_abstract do |f| %>
         <p>Tax Map/Parcel</p>
         <%= @title_abstract.parcel.tax_map %>
         <%= @title_abstract.parcel.tax_parcel %>
  <div class="form-inputs">
    <%= f.text_field :name, placeholder: 'Name'  %>
    <%= f.date_field :due_date %>
    <%= f.input :comments %>
  </div>
  <div>
    <%= f.simple_fields_for :deeds do |deed| %>
       <%= render 'deed_fields', f: deed %>
       <%= link_to_add_association "Add Deed", f, :deeds %>
  </div>
    <% end %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
    </div>
 </div>
