<p id="notice"><%= notice %></p>
<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-full">
    <h2 class="flex-title">Title Abstracts</h2>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @title_abstracts.each do |title_abstract| %>
      <tr>
        <td><%= link_to title_abstract.name, title_abstract %></td>
        <td><%= link_to title_abstract.parcel.service.lease_number, title_abstract.parcel.service %></td>
        <td><%= link_to 'Destroy', title_abstract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
  </a>
</div>

<br>

<%= link_to 'New Title abstract', new_title_abstract_path %>
