<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag('lawgix.png') %>
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link more"><a href="javascript:void(0)"><%= link_to "Services", services_path %></a>
          <ul class="submenu">
            <li><%= link_to "Services", services_path %></li>
            <li><%= link_to "New Service",new_service_path %></li>
            </li>
          </ul>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Lawyers</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Clients</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Admin</a></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </div>
      </div>
      <%= link_to('Logout', destroy_user_session_path, :class => "sign-up", :method => :delete) %>
    </div>
  </div>
</header>
