<td>
  <%= link_to client.email, client %>
</td>
<td>
  <%= form_for(client) do |f| %>
    <%= f.select(:role, Client.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete client", client_path(client), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless client == current_user %>
</td>
