<div id="new_client_form">
  <h1>New Client</h1>
         <fieldset>
           <%= form_for @client  do |f| %>
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
              <%= f.label :phone %>
              <%= f.text_field :phone %>
              <%= f.label :email %>
              <%= f.text_field :email %>
             <%= f.submit 'Create Client' %> 
              </div>
              </li>
          <% end %>
          </fieldset>
</div>
