<table>
  <thead>
    <tr>
      <td>Company</td>
      <td>Lease</td>
      <td>Description</td>
      <td>Delivery Date</td>
      <td>State</td>
      <td>County</td>
      <td>Receive</td>
    </tr>
  </thead>
  <% @pending = @services.in_state('pending') %>
  <%= will_paginate @pending %>
  <% @pending.each do |service| %>
      <tr>
        <td>Company</td>
        <td><%= link_to service.lease_number, service %></td>
        <td><%= service.description %></td>
        <td><%= service.requested_delivery %></td>
        <td><%= service.state %></td>
        <td><%= service.county %></td>
        <td><%= render 'modal', service: service %>
      </tr>
  <% end %>
</table>

