<div id="new_contact_form">
  <h1>New Contact</h1>
  <fieldset>
    <%= simple_form_for @contact do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :city %>
        <%= f.text_field :city %>
        <%= f.label :state %>
        <%= f.text_field :state %>
        <%= f.label :zip %>
        <%= f.text_field :zip %>
        <%= f.submit 'Create Contact' %>
        </div>
        </li>
    <% end %>
    </fieldset>
    </div>

