<p id="notice"><%= notice %></p>

<p>
  <strong>Deed Book:</strong>
  <%= @deed.db %>
</p>

<p>
  <strong>Db Page:</strong>
  <%= @deed.db_page %>
</p>

<p>
  <strong>Date:</strong>
  <%= @deed.d_date %>
</p>

<p>
  <strong>Grantor:</strong>
  <%= @deed.grantor %>
</p>

<p>
  <strong>Grantee:</strong>
  <%= @deed.grantee %>
</p>

<p>
  <strong>D type:</strong>
  <%= @deed.d_type %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @deed.comments %>
</p>

<p>
  <strong>File:</strong>
  <%= @deed.d_image %>
</p>

<%= link_to 'Edit', edit_deed_path(@deed) %> |
<%= link_to 'Back', deeds_path %>
