<table>
  <thead>
  <tr>
    <td>Name</td>
    <td>Phone</td>
    <td>Type</td>
    <td>Interest</td>
    <td>Parcel-ID</td>
  </tr>
  </thead>
  <tbody>
  <% @contacts = @project.contacts %>
  <% @contacts.each do |contact| %>
      <tr>
          <td><%= link_to contact.name, contact %></td>
          <td><%= contact.bus_phone  %>
          <td><%= contact.type %></td> 
        <% if contact.type == "Owner" %> 
            <td><%= contact.interest  %></td>
            <td><%= link_to contact.parcel.tax_parcel, contact.parcel  %><td>
        <% end %>
  <% end %>
    </tr>
  </tbody>
</table>
