<table>
  <thead>
  <tr>
    <td>Leases</td>
    <td>Description</td>
    <td>Lessees</td>
    <td>State</td>
    <td>County</td>
  </tr>
  </thead>
  <tbody>

  <% @leases = @project.leases %>
  <% @leases.each do |lease| %>
      <tr>
        <td><%= link_to lease.lease_number, lease %></td>
        <td><%= lease.description %></td>
        <td><%= lease.lessors.count %></td>
        <td><%= lease.state %></td>
        <td><%= lease.county %></td>
        <% end %>
     </tr>
  </tbody>
</table>
