<table>
  <thead>
  <tr>
    <td>Contacts</td>
    <td>Email</td>
    <td>Type</td>
  </tr>
  </thead>
  <tbody>
  <%#
  <%# <% @lessors = @project.lessors %>
  <%# <% @lessors.each do |lessor| %>
  <%#     <tr>
  <%#       <td><%= link_to lessor.last_name, lessor %></td>
  <%#       <td><%= lessor.email %></td>
  <%# <% end %>

  <% @contacts = @project.contacts %>
  <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.last_name, contact %></td>
        <td><%= contact.email %></td>
        <td><%= contact.type %></td>
  <% end %>
  </tr>
  </tbody>
</table>
