<table>
  <thead>
  <tr>
    <td>Company</td>
    <td>Lease</td>
    <td>Description</td>
    <td>Delivery Date</td>
    <td>State</td>
    <td>County</td>
    <td>Receive</td>
  </tr>
  </thead>
  <tbody>
  <%= will_paginate @services %>
  <% @services = @services.in_state('pending') %>
  <% @services.each do |service| %>
      <tr>
        <td>Company</td>
        <td><%= link_to service.lease_number, service %></td>
        <td><%= service.description %></td>
        <td><%= service.requested_delivery %></td>
        <td><%= service.state %></td>
        <td><%= service.county %></td>
        <td><%= button_to 'ok', receive_service_path(service), method: :put %></td>
      </tr>
  <% end %>
  </tbody>
</table>
