<table>
  <thead>
    <tr>
      <td>Company</td>
      <td>Lease</td>
      <td>Description</td>
      <td>Delivery Date</td>
      <td>State</td>
      <td>County</td>
      <td>Receive</td>
    </tr>
  </thead>
  <tbody>
  <% @pending = @services.in_state('pending') %>
  <%= will_paginate @pending %>
  <% @pending.each do |service| %>
      <tr>
        <td>Company</td>
        <td><%= link_to service.lease_number, service %></td>
        <td><%= service.description %></td>
        <td><%= service.requested_delivery %></td>
        <td><%= service.state %></td>
        <td><%= service.county %></td>
        <td><%= button_to 'ok', receive_service_path(service), method: :put %></td>
      </tr>
  <% end %>
</table>

   <div class="modal">
      <label for="modal-1">
        <div class="modal-trigger">Assign</div>
      </label>
          <input class="modal-state" id="modal-1" type="checkbox" />
     <div class="modal-window">
       <div class="modal-inner">
           <label class="modal-close" for="modal-1"></label>
         <h1>Abstractors</h1>
         <table>
           <% @abstractors.each do |abstractor| %>
            <tr>
              <td><%= check_box 'ok', abstractor_dispatcher_path(abstractor), method: :put %></td>
              <td><%= link_to(abstractor.last_name, abstractor_path(abstractor))  %></td>
              <td><%= abstractor.phone %></td>
              <td><%= abstractor.email %></td>
            </tr>
           <% end %>
         </table>
       </div>
     </div>
   </div>
</tbody>
