<div class="tab-content flex-box flex-box-full">
   <div>
     <%= f.association :project %>
     <div id="state-select">
       <%= f.label :state %>
       <%= f.select :state, collection: ['Pennsylvania', 'Ohio','West Virginia'] %>
     </div>
     <div id="lease_numb">
       <%= f.label :lease_number %>
       <%= f.text_field :lease_number %>
     </div>
    <div>
      <%= f.text_area :description, placeholder: "Comments" %>
    </div>
</div>
