# Edit Lease - New Lease entery is Via a New Service Request


<div id="edit-lease-form">
  <h1>Lease Information</h1>
  <h2>Lease Number: #{lease_number}</h2>
  <h2>Description: #{description}</h2>

<fieldset>

  <%= form_for @lease do |f| %>
    <%= f.label :lease_number %>
    <%= f.text_field :lease_number  %>
    <%= f.label :state %>
    <%= f.text_field :state  %>
    <%= f.label :county %>
    <%= f.text_field :county %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <div id='request'>
      <%= f.submit 'Create Lease' %>
    </div>
<% end %>
</fieldset>
</div>
