<div class="flex-boxes">
  <div class="flex-box flex-box-full">
    <div id="lease-index">
      <h1>Leases</h1>
      <table class="tables">
        <thead>
        <tr>
          <th>Lease Number</th>
          <th>Description</th>
          <th>Project</th>
          <th>Lessors</th>
          <th>State</th>
          <th>County</th>
        </tr>
        </thead>
        <tbody>
        <% @leases.each do |lease| %>
            <tr>
              <td><%= link_to lease.lease_number, lease %></td>
              <td><%= lease.description %></td>
              <% if lease.project %>
                  <td><%= link_to lease.project.name, lease.project  %></td>
                  <% end %>
              <td><%= lease.lessors.count %></td>
              <td><%= lease.state %></td>
              <td><%= lease.county %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
