<div class="flex-boxes">
  <div class="flex-box flex-box-full">
    <h2 class="flex-title">New Lease</h2>

    <div id="service-project">
      <h5>Project:
        <% if @project %>
            <%= @project.name %>
        <% end %>
      </h5>
    </div>
    <%= simple_form_for @lease do |f| %>
        <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content">
            <a href="#" class="tab-link is-active">General</a>
            <%= render 'request', f: f %>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Lessors</a>

            <div class="tab-content">
              <div class="nested-fields">
                <%= f.simple_fields_for :lessors do |lessor| %>
                    <%= render 'lessor_fields', f: lessor %>
                    <%= link_to_add_association "Add Lessor", f, :lessors %>
                <% end %>
              </div>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Parcels</a>

            <div class="tab-content">
              <div class="nested-fields">
                <%= f.simple_fields_for :parcels do |parcel| %>
                    <%= render 'parcel_fields', f: parcel %>
                    <%= link_to_add_association "Add Parcel", f, :parcels %>
                <% end %>
              </div>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Provisions</a>

            <div class="tab-content">
              <div class="nested-fields">
                <%= f.simple_fields_for :lease_provisons do |provison| %>
                    <%= render 'provison_fields', f: provison %>
                    <%= link_to_add_association "Add Provision", f, :lease_provisons %>
                <% end %>
              </div>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Documents</a>

            <div class="tab-content">
              <div class="nested_fields">
                <%= f.simple_fields_for :documents do |document| %>
                    <%= render 'document_fields', f: document %>
                    <%= link_to_add_association "Add Document", f, :documents %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
        <%= f.submit 'Create New Lease' %>
    <% end %>
  </div>
</div>
