<div class="flex-boxes">
  <div class="flex-box flex-box-full">
    <h2 class="flex-title">Lease Information</h2>

    <div>
      <% if @lease.project %>
          <h5>Project:
            <%= link_to @lease.project.name, @lease.project %>
          </h5>
      <% end %>
    </div>
    <%= simple_form_for @lease do |f| %>
        <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content">
            <a href="#" class="tab-link is-active">General</a>
            <%= render 'request', f: f %>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Lessors</a>

            <div class="tab-content">
                <div class="nested-fields">
                    <table>
                        <thead>
                            <tr>
                            <th>Lessors</th>
                            <th>Parcel</th>
                            <th>Interest</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @lease.owners.each do |owner| %>
                                <tr>
                        <td> <%= link_to owner.name, owner   %> </td>
                        <td> <%= link_to owner.parcel.tax_parcel, owner.parcel  %> </td>
                        <td> <%= owner.interest  %> </td>
                                </tr>
                                </tbody>
                     <%= link_to_add_association "Add Lessor", f, :lessors %>
                    <% end %>
                    </table>

                    <%= f.association :owners,  :label_method => :name,
                                                :collection => @lease.project.owners,
                                                :include_blank => false %>


              </div>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Parcels</a>

            <div class="tab-content">
              <div class="nested-fields">
                    <table>
                        <thead>
                            <tr>
                              <th>Parcel</th>
                              <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @lease.parcels.each do |parcel| %>
                            <tr>
                                <td> <%= link_to parcel.tax_parcel, parcel  %> </td>
                                <% parcel.owners.each do |po| %>
                                   <td> <%= link_to po.name, po  %> </td>
                              <% end  %>
                            </tr>
                        </tbody>
                            <% end %>
                    </table>
                    <% @id = @lease.project.id %>
                    <%= link_to "Add Parcel", new_parcel_path(project: "#{@id}") %>
              </div>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Provisions</a>

            <div class="tab-content">
              <div class="nested-fields">
                <% if @lease.lease_provisons %>
                    <table>
                        <thead>
                            <tr>
                              <th>Lease Provisions</th>
                            </tr>
                        </thead>
                        <tbody>
                             <% @lease.lease_provisons.each do |provison| %>
                            <tr>
                                <td> <%= provison.provision  %> </td>
                                <td></td>
     <td> <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, (provison) %> </td>
     <td> <%= link_to '<i class="fa fa-trash"></i>'.html_safe, lease_provison_path(provison),
                            :data => { :confirm => "Are you sure?" }, :method => :delete %> </td>
                              <% end  %>
                            </tr>
                        </tbody>
                    </table>
                    <%= link_to_add_association "Add Provision", f, :lease_provisons %>
                <% else %>
                    <%= f.simple_fields_for :lease_provisons do |provison| %>
                        <%= render 'lease_provison_fields', f: provison %>
                        <%= link_to_add_association "Add Provision", f, :lease_provisons %>
                    <% end %>
                <% end %>
              </div>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Documents</a>

            <div class="tab-content">
              <div class="nested_fields">
                <% if @documents %>
                    <table>
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>Doc Type</th>
                        <th> </th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @lease.documents.each do |document| %>
                          <tr>
                            <td><%= link_to document.name, document %></td>
                            <td><%= document.doc_type %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                    <%= link_to_add_association "Add Document", f, :documents %>
                <% else %>
                        <%= link_to_add_association "Add Document", f, :documents %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
        <%= f.submit 'Update Lease' %>
    <% end %>
  </div>
</div>






