<div class="flex-boxes">
  <div class="flex-box flex-box-full">
    <h2 class="flex-title">Lease</h2>
    <%= simple_form_for @lease do |f| %>
        <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content">
            <a href="#" class="tab-link is-active">General</a>
            <%= render 'request', f: f %>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Lessors</a>

            <div class="tab-content">
              <div class="nested-fields">
                <%= f.simple_fields_for :lessors do |lessor| %>
                    <%= render 'lessor_fields', f: lessor %>
                    <%= link_to_add_association "Add Lessor", f, :lessors %>
                <% end %>
              </div>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Parcels</a>

            <div class="tab-content">
              <div class="nested-fields">
                <%= f.simple_fields_for :parcels do |parcel| %>
                    <%= render 'parcel_fields', f: parcel %>
                    <%= link_to_add_association "Add Parcel", f, :parcels %>
                <% end %>
              </div>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Provisions</a>

            <div class="tab-content">
              <div class="nested-fields">
                <%= f.simple_fields_for :lease_provisons do |provision| %>
                    <%= render 'lease_provison_fields', f: provision %>
                    <%= link_to_add_association "Add Provision", f, :parcels %>
                <% end %>
              </div>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link">Documents</a>

            <div class="tab-content">
              <div class="nested_fields">
                <% if @documents %>
                    <table>
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>Doc Type</th>
                        <th colspan="3"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @documents.each do |document| %>
                          <tr>
                            <td><%= link_to document.name, document %></td>
                            <td><%= document.doc_type %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                    <%= link_to_add_association "Add Document", f, :documents %>
                <% else %>
                    <%= f.simple_fields_for :documents do |document| %>
                        <%= render 'document_fields', f: document %>
                        <%= link_to_add_association "Add Document", f, :documents %>
                    <% end %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
        <%= f.submit 'Update Lease' %>
    <% end %>
  </div>
</div>
