<table>
  <thead>
    <tr>
      <td>Company</td>
      <td>Lease</td>
      <td>Description</td>
      <td>Delivery Date</td>
      <td>County</td>
      <td></td>
    </tr>
  </thead>
  <% @pending = @services.in_state('assigned') %>
  <%= will_paginate @pending %>
  <% @pending.each do |service| %>
      <tr>
        <td>Company</td>
        <td><%= link_to service.lease_number, service %></td>
        <td><%= service.description %></td>
        <td><%= service.requested_delivery %></td>
        <td><%= service.county %></td>
        <td><%= button_to 'Accept', accept_service_path(service), method: :put %></td>
      </tr>
  <% end %>
</table>

