<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="ROBOTS" content="NOODP"/>
  <meta name="viewport" content="initial-scale=1"/>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <%= render 'shared/nav' %>
</header>
<div id='container'>
  <body class="<%= body_class %>">
  <!--<p class="notice"><%= notice %></p>-->
  <!--<p class="alert"><%= alert %></p>-->
  <%= render "flashes" -%>
  <%= yield %>
  </body>
</div>
</html>
